<div class="p-10 mt-4">
    
      <div class='mb-4'>
        <div class="relative flex items-center max-w-3xl h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden">
            <div class="grid place-items-center h-full w-12 text-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </div>
    
            <input
            class="peer h-full bg-gray-200 focus:bg-white hover:bg-white w-full outline-none text-sm text-gray-700 pr-2 pl-2"
            type="text"
            id="search"
            placeholder="Search Email..."
            [(ngModel)]="searchText" (input)="searchUsers()"/> 
        </div>
    </div>

      
      <table class="min-w-full bg-white rounded-lg overflow-hidden shadow-lg">
        <thead class="bg-gray-200 uppercase text-gray-700">
          <tr>
            <th class="py-3 px-4">Email</th>
            <th class="py-3 px-4">Type</th>
            <!-- Add more table headers as needed -->
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let user of usersData | paginate: { itemsPerPage: 15, currentPage: p }">
                <td class="px-6 py-4 whitespace-nowrap">{{ user.email }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ user.type }}</td>
            <!-- Add more table cells with user data as needed -->
          </tr>
        </tbody>
      </table>
      
      
      <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>